<a>
    <img id="logo" class="logo" src="assets/logo.png"/>
    </a>
<div class="search">

<form class="form-search">
    <input [(ngModel)]="marka" name="marka" type="text" class="form-control" placeholder="Marka">
    <input [(ngModel)]="model" name="model" type="text" class="form-control" placeholder="Model">
    <input [(ngModel)]="rok" name="rok" type="text" class="form-control" placeholder="Rok produkcji">
    <input [(ngModel)]="paliwo" name="paliwo" type="text" class="form-control" placeholder="Rodzaj paliwa">
    <button>Search</button> 
  </form>




</div>    
<div class="sidebar">
  <nav>
<ul>
  </ul>
<li (click)="ReDirect('login')">Login</li>
<li (click)="ReDirect('register')">Register</li>
<!--<li>Search</li>-->

  </nav>
</div>


