<div class="sidebar">
  <nav>
    <ul>
      <li (click)="ReDirect('')">Logout</li>
      <li>Add new</li>
      <li>Search</li>
      <li>Delete account</li>
    </ul>
  </nav>
</div>


<div class="przesun">
  <div class="data-container">
    <div class="row form-group">
      <div class="col-sm-4">
        <label>Marka</label>
        <input type="text" class="form-control" placeholder="marka">
      </div>
      <div class="col-sm-4">
        <label>Model</label>
        <input type="text" class="form-control" placeholder="model">
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-4">
        <label>Moc</label>
        <input type="text" class="form-control" placeholder="Moc">
      </div>
      <div class="col-sm-4">
        <label>Przebieg</label>
        <input type="text" class="form-control" placeholder="W km">
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-4">
        <label>Rok produkcji</label>
        <input type="text" class="form-control" placeholder="Rok">
      </div>
      <div class="col-sm-4">
        <label>Rodzaj paliwa</label>
        <input type="text" class="form-control" placeholder="paliwo">
      </div>
      <div class="col-sm-4">
        <label>Cena</label>
        <input type="text" class="form-control" placeholder="cena">
      </div>
    </div>
  </div>
</div>